extends layout 

block content 

  h1 #{title}: #{bookInstance.book}
  p #[strong #{bookInstance.imprint}]
  p #[strong #{bookInstance.status}]
  p #[strong #{bookInstance.due_back_form_formatted}]

  hr
  p Do you really want to delete this Book Instance?

  form(method='POST')
    div.form-group
      input#bookInstanceid.form-control(type='hidden' name='bookInstanceid' value=bookInstance._id)

      button.btn.btn-primary(type='submit') Delete 